PORT=3059
SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BASE_URL=https://ir.scottslab.io
DB_PATH=./data/ir-logger.db
NODE_ENV=development
# EVIDENCE_DIR=./data/evidence
# REGISTRATION_OPEN=false
